body {
  background-color: black;
  color: white;
}
marquee {
  color: #366;
}
.center {
   text-align: center;
 }
.text-1 {
   margin-right: 70px;
   color: red;
   font-size: 15px;
 }
.text-2 {
  margin-right: 100px;
  color: red;
  font-size: 15px;
}
.background {
  background-color: white;
  font-size: 10px;
}
.text-3 {
  color: red;
  font-size: 15px;
}
